@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body{
    font-family: 'Inter', sans-serif;
}

#login{
    background-color: #1B1B1B;
    height: 100vh;
    text-align: center;
}
.login-div{
    font-family: 'Inter', sans-serif;
    margin-top: 10%;
    max-width: 550px;
    border: none;
    background-color:#292929;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}
.login-div h1{
    color: white;
}
.login-div h4{
    color: white;
    text-align: left;
}
.login-div p{
    color: white;
    text-align: left;
}
.reg{
    margin-top: 2%;
    color: white;
    width: 45%;
    background-color: #000000 !important;
    margin: 2%;
}
.log{
    margin: 20px 0;
    width: 45%;
    color: white;
    font-weight: 600;
    background-color: rgb(255, 121, 32) !important;
}

.log:hover{
    background-color: rgb(247, 134, 59) !important;
}

.reg:hover{
    background-color: #1d1d1d !important;
}

.login-div{
    max-width: 550px;
}

.login-div label{
    color: white;
    float: left;
    margin: 12px 0;
}

.login-div h1{
    font-weight: bold;
}
.login-div h4{
    font-weight: bold;
}

#register{
    background-color: #1B1B1B;
    height: 100vh;
    text-align: center;
}


.register-div {
    font-family: 'Inter', sans-serif;
    margin-top: 10%;
    max-width: 1000px;
    border: none;
    background-color:#292929;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    color: white;
}

.register-div h1{
    text-align: left;
    margin: 0 20px;
    font-weight: 700;
}

.left label{
    margin: 8px 0;
    float: left;
}
.right label{
    margin: 8px 0;
    float: left;
}

.right button{
    width: 100%;
}

.right button:hover{
    background-color: rgb(247, 134, 59) !important
}

/* for table */
.table-tr td, .table-tr th{
text-align: center !important;
}

.nav{
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: #1B1B1B;
    color: white;
    padding: 1.2rem;
}

.logo h4{
    margin-left: 20px;
    font-weight: 600;
}

.user > *{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 1.3rem; */
}

.user button{
    background-color: #FFA31A;
    font-weight: 600;
    color: white;
}

.hero{
    font-family: 'Inter', sans-serif;
    background-color: #1B1B1B;
    color: white;
    height: 100vh;
    width: 100vw;
}

.crud button{
    background-color:#FFA31A ;
    color: white;
    padding: 8px;
    width: 65%;
}

.student{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.table > *{
    color: white;
}


.modal{
    font-family: 'Inter', sans-serif;
}

.modal-title{
    font-weight: 600;
}

.modal-body{
    display: grid;
    place-items: center;
}

.modal-body input{
    margin: 8px 0;
    width: 80%;
}

.modal-body button{
float: right;
margin-top: 8px;
}

.modal-footer button{
    color: white;
}

.add button{
    background-color:#FFA31A ;
    color: white;
    font-weight: 600;
}

.update button{
    background-color:#FFA31A ;
    color: white;
    font-weight: 600;
}

.update-input{
    display: grid;
    place-items: center;
    width: 100%;
}

.delete{
    background-color:#FFA31A ;
    color: white;
    font-weight: 600;
}

/*-----For responsiveness--------*/
@media (max-width: 990px) {
    .body{
        height: 2000px;
    }
    .logo h4{
        display: none;
    }

    .student h3{
        display: none;
    }

    .crud button{
        background-color:#FFA31A ;
        color: white;
        padding: 10px;
        width: 95%;
        height: 45px;
        text-align: center;
        margin-right: 20px;
    }

    .table thead, .table tr th {
        display: none;
    }

    .table, .table tbody, .table tr, table td{
        display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 15px;
    }
    .table-tr td{
        text-align: right;
        height: 40px;
        font-size: 18px;
    }
    .table-tr td:before{
        content: attr(data-label);
        position: absolute;
        left: 0%;
        width:50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 22px;
        text-align: left;
    }
}