@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;0,700;1,400&display=swap');
body{
    font-family: 'Nunito Sans', sans-serif;
}

#login{
    background-color: #1B1B1B;
    height: 100vh;
    text-align: center;
}
.login-div{
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 10%;
    max-width: 550px;
    border: none;
    background-color:#292929;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}
.login-div h1{
    color: white;
}
.login-div h4{
    color: white;
    text-align: left;
}
.login-div p{
    color: white;
    text-align: left;
}
.reg{
    margin-top: 2%;
    color: white;
    width: 45%;
    background-color: #000000 !important;
    margin: 2%;
}
.log{
    margin: 20px 0;
    width: 45%;
    color: white;
    font-weight: 600;
    background-color: rgb(255, 121, 32) !important;
}

.log:hover{
    background-color: rgb(247, 134, 59) !important;
}

.reg:hover{
    background-color: #1d1d1d !important;
}

.login-div{
    max-width: 550px;
}

.login-div label{
    color: white;
    float: left;
    margin: 12px 0;
}

.login-div h1{
    font-weight: bold;
}
.login-div h4{
    font-weight: bold;
}

#register{
    background-color: #1B1B1B;
    height: 100vh;
    text-align: center;
}


.register-div {
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 10%;
    max-width: 1000px;
    border: none;
    background-color:#292929;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    color: white;
}

.register-div h1{
    text-align: left;
    margin: 0 20px;
    font-weight: 700;
}

.left label{
    margin: 8px 0;
    float: left;
}
.right label{
    margin: 8px 0;
    float: left;
}

.right button{
    width: 100%;
}

.right button:hover{
    background-color: rgb(247, 134, 59) !important
}
